
body{
  background-color: #EEEEEE;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

header{
  height: 10vh;
  background-image: linear-gradient(to right, #FF7700, #F2C399);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2em;
}

li, a {
  font-size: 26px;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
}

.logo{
  height: 60%;
  cursor: pointer;
}

.nav__link{
  list-style: none;
  margin: 0;
}

.nav__link a{
  display: inline-flex;
  margin: 0px 30px;
  height: 50px;
  width: 200px;
  background-color: #FF7700;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  border: solid 5px;
  border-color: #FFFFFF;
  box-shadow: 3px 3px rgba(0,0,0,0.2);

  transition:  all 0.3s ease 0s;
}

.nav__link a:hover{
  background-color: #FF9F4B;
  box-shadow: 6px 6px rgba(0,0,0,0.4);
}

.content{
  width: 100%;
  height: 82vh;
  margin: 0;
  padding: 0;
  display: inline-flex;
  justify-content: space-between;
}

.leftSide{
  width: 50vw;
  height: 100%;
}

.rightSide{
  width: 50vw;
  height: 100%;
}

footer{
  width: 100%;
  height: 8vh;
  background-color: #D6D5D5;

}

.foot{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.foot span{
  font-size: 15px;
  color: rgb(255, 255, 255);
}


